	<!DOCTYPE html>
	<html>
<head>
<meta charset="utf-8">

	<link type="text/css" href="../src/4.style/style_tabeli.css" rel="stylesheet">
		<link type="text/css" href="../src/4.style/style_responsive.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="../../../css/style_fontow.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<style>
	.row
	{
		border: 1px solid black;
	}
</style>
</head>
<body ng-app="" >
<div class="container center">
	<div class="jumbotron">
		<h1><img height="100" width="200" src="../manuale_img/PHP.png">Manual </h1>

		<div class="show-inline-block  btn-group">

			<button
					ng-click="tab = 1"
					ng-class="{ active: tab === 1 }"
					class="btn btn-primary">
				Introduction
			</button>
			<button
					ng-click="tab = 2"
					ng-class="{ active: tab === 2 }"
					class="btn btn-primary">
				Classes
			</button>
			<button
					ng-click="tab = 4"
					ng-class="{ active: tab === 3 }"
					class="btn btn-primary">
				Larvel
			</button>
			<!-- <button
					ng-click="tab = 3"
					ng-class="{ active: tab === 3 }"
					class="btn btn-primary">
				2
			</button> -->

		</div>
	</div>
</div>

<div style="font-size: 200% "  class=" row-fluid" data-ng-init="js_tab=0">
    <div class=" pagination-center text-center col-md-12">


		<div class="panel" ng-show="tab === 1">
			<ng-include
					src="'funkcje/intro.html'">
			</ng-include>
			</div>

			<div class="panel" ng-show="tab === 2">
				<ng-include
						src="'funkcje/Classes.html'">
				</ng-include>
				</div>


				<div class="panel" ng-show="tab === 4">
					<ng-include
							src="'funkcje/laravel.html'">
					</ng-include>
				</div>
    </div>

    </div>
</div>


</body>
</html>

